################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentel.BookStore/.vs/Webgentel.BookStore
/Webgentel.BookStore/Webgentel.BookStore/bin/Debug/netcoreapp3.1
/Webgentel.BookStore/Webgentel.BookStore/obj
